
body { 
    background-color: rgb(0, 0, 0)!important;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="orange" stroke="black" stroke-width="1.5" d="M6,2 L26,13 L17.72,15.07 L16,24.35 L6,2 Z"/></svg>'), auto;

}

.menu { 
    width: 40%;
    height: 40vh;
}

.tools-container { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

#tecnologias { 
    font-size: 3rem;
    color: white;
    
} 

#tecnologias i:hover { 
    color: #daba00; /* Tomato color */
    transform: translate(1px, -1px);
}

.titulo{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgb(0, 61, 175);
  font-size: 4rem;
}



.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; /* Adjust duration and easing as needed */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 768px) { 
    .tools-container { 
        justify-content: flex-start;
    }
}

