:root { 
    --cor-primaria: orange;
    --cor-secundaria: black;

}


body { 
    background-image: url('../../img/fundoorca.jpeg')!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="orange" stroke="black" stroke-width="1.5" d="M6,2 L26,13 L17.72,15.07 L16,24.35 L6,2 Z"/></svg>'), auto;
    font-family:'Fira Sans', sans-serif;
}

h1 { 
    color: var(--cor-primaria);
    background-color: rgba(0, 0, 0, 0.367);
    border-radius: 10px;
}

h7 { 
    color: white;
    font-size: 1.5rem;
}

.form-label, .form-text { 
    color: var(--cor-primaria);
}

#orcamentoimg:hover { 
    transform: scale(1.1);
    transition: all 0.3s ease;
}





